[submodule "second-submodule"]
	path = second-submodule
	url = https://github.com/marko-pnap/second-submodule.git
[submodule "new-submodule"]
	path = new-submodule
	url = https://github.com/marko-pnap/new-submodule.git
[submodule "test-dir"]
	path = test-dir
	url = https://github.com/marko-pnap/test-dir.git
[submodule "custom-name"]
	path = custom-name
	url = https://github.com/marko-pnap/test-repo.git
