[submodule "test-submodule"]
	path = test-submodule
	url = https://github.com/marko-pnap/test-submodule.git
[submodule "second-submodule"]
	path = second-submodule
	url = https://github.com/marko-pnap/second-submodule.git
[submodule "third-submodule"]
	path = third-submodule
	url = https://github.com/marko-pnap/third-submodule.git
